.container {
    display: flex;
    flex-direction: row;
    background-color: #EFE0D9;
    height: 150px;
    justify-content: space-between;
}

.list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    color: black;
    align-items: center;
}

.item {
    margin: 0px 50px;
    font-size: xx-large;
}